@font-face {
  font-family: "Samsung Sharp Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Samsung Sharp Sans Regular"),
    url("../../assets/fonts/samsungsharpsans.woff") format("woff");
}

@font-face {
  font-family: "Samsung Sharp Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Samsung Sharp Sans Medium"),
    url("../../assets/fonts/samsungsharpsans-medium.woff") format("woff");
}

@font-face {
  font-family: "Samsung Sharp Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Samsung Sharp Sans Bold"),
    url("../../assets/fonts/samsungsharpsans-bold.woff") format("woff");
}

html,
body,
#root {
  height: 100%;
}

// Overcome/"Disable" orientation rotation for mobile landscape
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Samsung Sharp Sans Regular",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../../assets/img/calc_desktop_background.jpg");
  background-size: cover;
  overflow: hidden;

  .App {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .calculator {
      // background-color: #ffffff;
      width: 372px;
      max-width: 100%;
      height: 662px;
      max-height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      -webkit-box-shadow: 0px 0px 180px 0px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 0px 0px 180px 0px rgba(0, 0, 0, 0.7);
      box-shadow: 0px 0px 180px 0px rgba(0, 0, 0, 0.7);
    }
  }
}
