.calculator--display{   
    
    width: 100%;
    /* border: none;
    text-align: right;  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    position: relative;

    &__equation{
        @extend .calculator--display;
        line-height: 104px;
        height: 15.7%;
        background-color: #fdd7ea;
        color: #f988bd;
        font-size: 20px;
        font-family: 'Samsung Sharp Sans Bold';
    }
    &__result{
        @extend .calculator--display;
        line-height: 94px;
        height: 14.2%;
        color: #fa99c9;
        font-size: 40px;
    }
}
.auto-scaling-text{
    /* display: inline-block; */
    position: absolute;
    right: 0;
    padding: 0 35px;
    transform-origin: right center;
    white-space: nowrap;
}
