.calculator input{   
    width: 100%;
    padding-right: 35px;
    border: none;
    text-align: right;  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.calculator--display__equation{
    line-height: 104px;
    height: 15.7%;
    background-color: #fdd7ea;
    color: #f988bd;
    font-size: 20px;
    font-family: 'Samsung Sharp Sans Bold';
}
.calculator--display__result{
    line-height: 94px;
    height: 14.2%;
    color: #fa99c9;
    font-size: 40px;
}